

/* Mobile - FIRST */
.events-page {
  padding: 2.5rem;
  max-width: 100%;
  margin: 0 auto;
}

.loading {
  text-align: center;
  padding: 6.25rem 0rem;
  font-size: 1.5rem;
  color: #666;
}

.page-header {
  margin-bottom: 2.5rem;
}

.page-header h1 {
  font-size: 2.625rem;
  color: #2c3e50;
  margin-bottom: 0.625rem;
}

.page-header p {
  font-size: 1.125rem;
  color: #666;
}

.view-button {
  font-size: 2.75rem;
  text-align: center;
}

.events-container {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 1rem;
  display: block;
}

.sidebar {
  width: 100%;
  flex-shrink: 0;
  display: block;
}

.filter-section {
  background-color: white;
  padding: 1.5625rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin: 1rem 0rem;
  width:100%;
}

.filter-section h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #2c3e50;
}

.filter-note {
  font-size: 0.875rem;
  color: #999;
}

.events-grid {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

/* Tablets */
@media (min-width: 768px) {

  .events-container {
    display: block;
    gap: 2.5rem;
  }

  .sidebar {
    width: 100%;
    flex-basis: 25%;
    margin-bottom: 0;
  }

  .events-grid {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem
  }

  .events-grid > * {
    flex-basis: calc(50% -1rem)
  }
}

/* Desktop */
@media (min-width: 1024px) {

  .events-container {
    display: flex;
    gap: 2.5rem;
  }

  .sidebar {
    width: 33.33%;
    flex-shrink: 0;
    margin-bottom: 0;
  }

  .events-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
    width: 100%;
  }

  .events-grid > * {
    flex-basis: calc(33.33% - 1.25rem);
  }

  .view-button {
    font-size: 1rem;
    text-align: center;
  }

}